---
import Link from "@components/Link.svelte";
import Content from "@layouts/Content.astro";
---

<Content
  id="contact"
  class="bg-charcoal shadow-elevation min-h-dvh pb-44"
  title="Contato"
>
  <div>
    <h3
      class="typo-subheading-lg max-desktop:mx-auto max-desktop:text-center max-w-xs"
    >
      Tem interesse? Manda uma mensagem!
    </h3>
    <div class="max-desktop:text-center mt-24">
      <Link variant="prime" href="mailto:ademirj.ferreirajunior@gmail.com">
        ademirj.ferreirajunior@gmail.com
      </Link>
      <div class="desktop:items-start mt-8 flex flex-col items-center gap-2">
        <Link href="https://wa.me/48991984443" newTab>Whatsapp</Link>
        <Link href="https://github.com/Azganoth" newTab>GitHub</Link>
        <Link href="https://www.linkedin.com/in/ademirjferreirajunior/" newTab>
          LinkedIn
        </Link>
      </div>
    </div>
  </div>
</Content>
