---
import Icon from "@components/Icon.svelte";
---

<section
  id="start"
  class="relative flex min-h-dvh flex-col justify-center gap-8 px-6 py-8 text-center"
>
  <a
    id="start-shortcut"
    class="push-on-active text-green hover:text-orchid absolute bottom-8 left-1/2 -translate-x-1/2 aria-hidden:invisible aria-hidden:opacity-0"
    href="#bio"
    aria-label="Pular para o conteúdo principal"
    tabindex="1"
  >
    <Icon class="size-12" name="start" />
  </a>
  <div>
    <h2 class="typo-title">
      Oi, eu sou o <span
        class="bg-linear-to-br from-orchid to-green bg-clip-text text-transparent"
        >Ademir</span
      >!
    </h2>
    <h3 class="typo-subheading-md text-silver">Desenvolvedor FullStack</h3>
  </div>
  <p class="typo-subheading-lg">Bem-vindo(a) ao meu portfólio</p>
</section>
