---
import Icon from "@components/shared/Icon";
---

<section
  id="start"
  class="relative flex min-h-[100dvh] flex-col justify-center gap-8 px-6 py-8 text-center"
>
  <a
    id="start-shortcut"
    class="push-down absolute bottom-8 left-1/2 -translate-x-1/2 text-3xl text-green hover:text-orchid aria-hidden:invisible aria-hidden:opacity-0"
    href="#bio"
    aria-label="Pular para o conteúdo principal"
    tabindex="1"
  >
    <Icon name="start" />
  </a>
  <div>
    <h2 class="title">
      Oi, eu sou o <span
        class="bg-gradient-to-br from-orchid to-green bg-clip-text text-transparent"
        >Ademir</span
      >!
    </h2>
    <h3 class="sub-heading-md text-gray">Desenvolvedor FullStack</h3>
  </div>
  <p class="sub-heading-lg">Bem-vindo(a) ao meu portfólio</p>
</section>
