/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme {
  --font-*: initial;
  --font-patua-one: "Patua One", sans-serif;
  --font-montserrat-alternates: "Montserrat Alternates", sans-serif;
  --font-inter: Inter, sans-serif;
  --font-cascadia-code: "Cascadia Code", monospace;

  --breakpoint-*: initial;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-obsidian: #0f0f0f;
  --color-charcoal: #1a1a1a;
  --color-offwhite: #f2f2f2;
  --color-silver: #999999;
  --color-orchid: #8a49ff;
  --color-teal: #00bc7d;
  --color-bubblegum: #fb64b6;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;
  --text-4xl: 4rem;

  --shadow-*: initial;
  --shadow-elevation: 0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.25);

  --drop-shadow-*: initial;
  --drop-shadow-contrast: 0 1px 2px rgb(0 0 0 / 0.5);

  --animate-blink: blink 2s ease-in-out infinite;

  @keyframes blink {
    40% {
      opacity: 0;
    }
    30%,
    50% {
      opacity: 1;
    }
  }
}
