---
import BackToTop from "../components/BackToTop.astro";
import Header from "../components/Header.astro";
import Bio from "../components/views/Bio.astro";
import Contact from "../components/views/Contact.astro";
import Projects from "../components/views/Projects.astro";
import Skills from "../components/views/Skills.astro";
import Start from "../components/views/Start.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Start />
    <Bio />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <BackToTop />
</Layout>
