---
import BackToTop from "@components/interactive/BackToTop.svelte";
import Header from "@components/interactive/Header.svelte";
import Bio from "@components/views/Bio.astro";
import Contact from "@components/views/Contact.astro";
import Projects from "@components/views/Projects.astro";
import Skills from "@components/views/Skills.astro";
import Start from "@components/views/Start.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Header client:load />
  <main>
    <Start />
    <Bio />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <BackToTop client:idle />
</Layout>

<script>
  // Set up reveal animation triggers
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("is-revealed");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.5,
      },
    );

    document.querySelectorAll(".reveal").forEach((el) => {
      observer.observe(el);
    });
  });
</script>
