---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span class="text-gray opacity-50" aria-hidden="true">&lt;{tag}&gt;</span>
<slot />
<span class="text-gray opacity-50" aria-hidden="true">&lt;/{tag}&gt;</span>
