---
import { TECH_LABELS } from "@app/constants";
import type { Tech } from "@app/types";
import Icon from "@components/shared/Icon";
import SkillWrap from "@components/SkillWrap.astro";
import { simpleCX } from "@utils/cx";

interface Props {
  class?: string;
  title: string;
  tech: Tech[];
}

const { class: className, title, tech } = Astro.props;
---

<article
  class={simpleCX(
    "flex flex-col code reveal motion-safe:reveal-slide-bottom md:motion-safe:reveal-slide-left",
    className,
  )}
>
  <SkillWrap tag="h3">
    <h3 class="code-indent">{title}</h3>
  </SkillWrap>
  <SkillWrap tag="ul">
    <ul>
      {
        tech.map((tec) => (
          <li class="code-indent flex items-center">
            <SkillWrap tag="li">
              <span>{TECH_LABELS[tec]}</span>
              <Icon class="ml-1.5 mr-0.5 text-lg" name={tec} />
            </SkillWrap>
          </li>
        ))
      }
    </ul>
  </SkillWrap>
</article>
