---
import { TECH_META, type Tech } from "@app/constants";
import Icon from "@components/Icon.svelte";
import SkillWrap from "@components/SkillWrap.astro";

interface Props {
  class?: string;
  title: string;
  tech: Tech[];
}

const { class: className, title, tech } = Astro.props;
---

<article
  class:list={[
    "code reveal motion-safe:reveal-slide-bottom md:motion-safe:reveal-slide-left flex flex-col",
    className,
  ]}
>
  <SkillWrap tag="h3">
    <h3 class="code-indent">{title}</h3>
  </SkillWrap>
  <SkillWrap tag="ul">
    <ul>
      {
        tech.map((tec) => (
          <li class="code-indent flex items-center">
            <SkillWrap tag="li">
              <span>{TECH_META[tec].label}</span>
              <Icon
                name={tec}
                class="ml-1.5 mr-0.5 text-lg"
                style={`--icon-color: ${TECH_META[tec].color};`}
              />
            </SkillWrap>
          </li>
        ))
      }
    </ul>
  </SkillWrap>
</article>
