@import "tailwindcss";
@import "$lib/shared/styles/fonts.css";
@import "$lib/shared/styles/theme.css";
@import "$lib/shared/styles/components.css";
@import "$lib/shared/styles/utilities.css";

:root {
  --underscore: "_";
}

@variant in-view (&.is-visible);

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  code {
    @apply font-jetbrains-mono;
  }

  button {
    @apply cursor-pointer;
  }

  ::selection {
    @apply bg-primary/30 text-white;
  }

  :focus-visible {
    @apply outline-primary outline-2 outline-offset-2;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-muted;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/30 hover:bg-primary/50 rounded-full transition-colors;
  }
}
