@import "tailwindcss";
@import "$lib/shared/styles/fonts.css";
@import "$lib/shared/styles/theme.css";
@import "$lib/shared/styles/components.css";
@import "$lib/shared/styles/utilities.css";

@plugin "@tailwindcss/typography";

:root {
  --underscore: "_";
}

@variant in-view (&.is-visible);

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  code {
    @apply font-jetbrains-mono;
  }

  button {
    @apply cursor-pointer;
  }
}
