---
interface Props {
  id: string;
  class?: string;
  title: string;
}

const { id, class: className, title } = Astro.props;
---

<section
  id={id}
  class:list={[
    "tablet:px-12 tablet:pt-32 desktop:px-16 desktop:pt-32 px-6 pt-28",
    className,
  ]}
>
  <h2 class="typo-heading-lg max-tablet:text-center mb-8">{title}</h2>
  <slot />
</section>
