---
interface Props {
  id: string;
  class?: string;
  title?: string;
}

const { id, class: className, title } = Astro.props;
---

<section
  id={id}
  class:list={["tablet:px-12 tablet:py-16 desktop:p-16 px-6 py-8", className]}
>
  {
    title && (
      <h2 class="typo-heading-lg max-tablet:text-center mb-8">{title}</h2>
    )
  }
  <slot />
</section>
